/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}
section {
    margin-top: 2.3rem;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* Navigation */
header {
    background-color: white;
    font-size: 19px;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li {
    margin-right: 1rem;
}
header nav ul li a {
    color: #6b7280;
    text-decoration: none;
}
header nav ul li a:hover {
    color: #5a67d8;
}

/* Hero */

.overview-hero {
    padding: 5rem 0;
    background-color: #e2e8f0;
}

.overview-hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-hero .container .overview-hero-image img {
    width: 50%;
}

/* Learn about  */

.learn-about .container h2 {
    font-size: 24px;
    color: #48bb78;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
}
.card {
    width: 300px;
    border: 1px solid;
    padding: 2rem 0.7rem;
    border-radius: 5px;
    border-color: #e2e8f0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
}
.card h3 {
    color: #48bb78;
    font-size: 21px;
}
.card img {
    width: 100%;
}

/* Testing */
.testing {
    padding: 5rem 0;
    background-color: #4a5568;
}
.testing .container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testing .container .testing-desciption {
    flex: 1;
}
.testing .container .cta {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testing .container .cta a {
    background-color: #48bb78;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

/* Stories */

.stories .container article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.stories .container .article-body {
    display: flex;
    flex-direction: column;
}
.stories .container article img {
    width: 25%;
    border-radius: 100%;
    margin-right: 3rem;
}
.stories .container article p a,
.stories h2 {
    color: #5a67d8;
    text-decoration: none;
}

.stories .container article h3 {
    font-size: 18px;
}

/* News letter */
.newsletter {
    background-color: #48bb78;
    padding: 3rem 0;
}
.newsletter .container {
    width: 24rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter .container form {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.newsletter .container form .form-group {
    width: 100%;
    flex: 80%;
}

.newsletter .container form .form-group input {
    width: 90%;
    height: 2.5rem;
    border: none;
    padding: 0 1rem;
    border-radius: 4px;
}

.newsletter .container form button {
    margin-left: 0.2rem;
    cursor: pointer;
    border: none;
    height: 2.5rem;
    background-color: #5a67d8;
    color: #fff;
    border-radius: 4px;
    flex: 20%;
}

/* Footer */
footer {
    background-color: #4a5568;
    padding: 2rem 0;
}

footer .container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message {
    margin-top: 1rem;
}
